.banner {
  height: 100vh;
  color:white;
  background: linear-gradient(70deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 50%),
                url('https://source.unsplash.com/daily/');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 20px;
}
