.tabs {
  background: #534540;
  color: white;
  padding:  10px 10px 0 10px;
  display: flex;

}

.tabs h3 {
  font-weight: bold;
  font-size: 19px;
}
.tabs p {
  font-weight: lighter;
  opacity: 0.8;
}

.tabs-item {
  flex: 1 0 auto;
  background:  #756A66;
  text-align: center;
  padding-top: 5px;
}

.tabs-item:first-child {
  border-radius: 10px 0 0 0;
}

.tabs-item:last-child {
  border-radius: 0 10px 0 0;
}

.tabs-item.active {
  background: white;
  color: black;
}
